#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  
}

form{
  display: flex;
  justify-content: space-around;
  gap:10px;
}
form > input,button{
  font-size: medium;
  font-weight: bold;
  padding:1em;
  height:1em;
  width:20em;
  border-radius: 5px ;
  border:1px solid black;
}
form > button{
  background: green;
  color:white;
  padding:1em;
  height:3em;
  width:10em;
  
}
.container > p{
  margin-left: 3em;
  font-size: large;
  font-weight: bolder;
}
.weather-cards{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}
.weather-card{
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0,0,0,0.3);
  padding:1em;
  height:6em;
  width:10em;
  border-radius: 5px;
}
